
body {
  background: #eeeeee;
  font-family: 'IM Fell DW Pica SC', serif;
  background-image: url(pic.jpg);
  background-size:  cover;
}
.tadryo {
  font-size: 3em
}
h2.tadryo::before {
  content:"";
  display:inline-block;
  width:1em;
  height:1em;
  background-size:contain;
  background-image: url(tadryo_logo.png);
  background-size:  50px;
}
.center{
  text-align: center;
}
