#title {
     font-size: 500px;
}
#title:before {
     content: "";
     display: inline-block;
     height: 1000%;
     width: 1000%;
     background-image: url('g-menu_off.png');
     background-size: contain;
     vertical-align: middle;
}
#gi {
    color: yellow;
}
#bar {
    color: green;
}
#ta {
    color: red;
}
