body {
     background-color: #e1dfdf;
}
.title {
     display: flex;
     justify-content: center;
}
#title {
     font-size: 200px;
     margin: 0;
}
#title::before {
     content: url('g-menu_off.png');
}
#gi {
     color: yellow;
}
#bar {
     color: green;
}
#ta {
     color: red;
}
.ranking {
     font-size: 100px;
     margin: 0;
     text-align: center;
}
#first::before {
     content: url('f5-1.png');
     padding: 50px;
}
#second::before {
     content: url('f5-2.png');
     padding: 50px;
}
#third::before {
     content: url('f5-3.png');
     padding: 50px;
}
.input {
     font-size: 50px;
     text-align: center;
}
#score1 {
     font-size: 30px;
     padding: 10px;
     line-height: 0.5;
}
#score2 {
     font-size: 30px;
     padding: 10px;
     line-height: 0.5;
}
#check {
     font-size: 50px;
     display: inline-block;
     padding: 0.5em 1em;
     text-decoration: none;
     background: #668ad8;
     color: #FFF;
     border-bottom: solid 4px #627295;
     border-radius: 3px;
}
#check:active {
     -webkit-transform: translateY(4px);
     transform: translateY(4px);
     border-bottom: none;
}
